





/* body{
    background-color: rgb(4, 4, 72)!important; 
  } */
  .container-fluid {
    max-width: 1070px;
    padding: 0px 20px;
 }
 /* .navbar{
   background-color: rgb(6, 12, 78);
   
 } */
 .nav-link{
   color: rgb(5, 4, 5) !important;
   
 }
 .collapse{
 justify-content: space-around;
 }
 .fofana{
  padding-right: 150px;
 }
 .navbar-nav {
    gap: 30px;
    
 }
 #navbarNavAltMarkup{
    margin-top: 20px;
 }

 .hover{
    width: 10%;
    height: 45px;
    border-radius: 7px;
    border: none;
    background-color: rgb(243, 92, 10); 
    color: black; 
    border: 2px solid #e88121;
  }
  .hover:hover{
    background-color: #090908;
    color: rgb(248, 112, 8);
  }
 .hover a{
    text-decoration: none !important;
    display: block !important;
    color:white !important;
    
    
 }


/* ======================================= */
.stack{
    color: rgb(239, 165, 25);
}
.intro {
    background: #fff8f8;
    padding: 60px 0 300px;
     }

.main{padding-left: 45px;

}
.main h4{
    color: rgb(238, 112, 44);
    font-size: 25px;
}
.main h1{
    font-size: 70px;
}
.main p{
    font-size: 18px;
}

.sec-padding{
    padding-top: 100px;
} 
.main-btn{
    width: 28%;
    height: 45px;
    border-radius: 7px;
    border: none;
    background-color: rgb(243, 92, 10); 
    color: black; 
    border: 2px solid #e88121;
  
}
.main-btn:hover{
    background-color: #090908;
    color: rgb(248, 112, 8);
}
.baner-btn{
    width: 28%;
    height: 45px;
    border-radius: 7px;
    border: none;
    background-color: white;
    text-decoration: none;
   
   
}

.baner-btn a{
    color: rgb(27, 28, 28);
    font-size: 20px;
    text-decoration: none !important;
    display: block !important;
    color:white !important;
  
}
 .main-btn a{
    text-decoration: none !important;
    display: block !important;
    color:white !important;
    
} 

.main-2 img{
    width: 100%;
    padding-left: 50px;
    
    
}

/* ================================== */

 .contant{
    border-radius: 15px;
    padding: 35px 35px;
    background: #3c3b3b;
}
.text h5{
    color: #fff8f8;
}
.text p{
    color: #fff8f8;
}

.text{
    padding-left: 77px;
    margin-top: -50px;
   
}

.content-box {
    position: relative;
    margin: 5px 0;
}
.content .icon {
    float: left;
    margin-right: 20px;
}
.fa-brands{
    color: rgb(42, 238, 232);
  
}

/* ================================== */


.main-card h4{
    text-align: center;
}
.main-card h4 a{
    color: orangered;
}
.main-card h1{
    text-align: center;
    font-size: 50px;
    
}  


/* close */

/* close */

   .skill-card{
    margin: auto;
    background-color: #adf0d5; 
    padding:65px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0px 3px 10px 2px gray
    
   }
   .fa-solid{
    padding-left: 40%;
   }
   .dot-card{
  display: flex;
  margin-bottom: 100px;
   }
   .Box{
    width: 33.3333%;
    padding-left: 25px;
    
  
   }
   .card-head{
    color: rgb(18, 19, 19);
    margin-top: 15px;
    text-align: center;
   }
   .card-p{
    color: rgb(9, 9, 9);
    text-align: center;
    
   }
   .seeting{
    font-size: 70px;
    color: rgb(28, 235, 235);
   }
   .head{
    font-size: 40px;
    color:white;
    text-align: center;
    margin-top: 15px;
    
   }


/* =========================== */


.comp img{
    width: 100%;
    border-radius: 15px;
    margin-top: 50px;
}
.mob-10 img{
   width: 100%;  
   border-radius: 10px;
}
.mob img{
    width: 100%;
    height: 340px;
    border-radius: 10px;
}

/* ===================== */

#cards{
    background-color: rgb(254, 247, 254);
    padding-bottom: 100px;
}

.open-cards h1{
font-size: 60px;
margin-bottom: 40px;
}
.open-cards h4{
    color: orangered;
}


.open{
    border: 1px solid;
    border: none;
    height: 105%;
    border-radius: 10px;
    background-color: white;
    padding-left: 50px;
    box-shadow: 0px 3px 10px 2px gray
 }
.open-2{
    border: 1px solid;
    border: none;
    height: 105%;
    border-radius: 10px;
    background-color: white;
    padding-left: 50px;
    box-shadow: 0px 3px 10px 2px gray;
 
    
}
  
.open p{
    font-size: 18px;
}
.open h1{
    font-size: 40px;
    color: orange;
}
.open h4{
    padding-top: 40px;
}
.open-2 h4{
    padding-top: 40px;
}


.price{
    width: 40%;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: rgb(243, 92, 10); 
    color: black; 
    border: 2px solid #e88121;

}
.price:hover{
    background-color: #090908;
    color: rgb(248, 112, 8);
}


.price-1{
    width: 40%;
    height: 45px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    background-color: rgb(243, 92, 10); 
    color: black; 
    border: 2px solid #e96907;
}
.price-1:hover{
    background-color: #090908;
    color: rgb(248, 112, 8);
}

.price a{
    
    text-decoration: none !important;
    display: block !important;
    color:white !important;
}
.price-1 a{
    
    text-decoration: none !important;
    display: block !important;
    color:white !important;
}
.hr{
    color: aqua;
}

.open-1{
    border: 1px solid;
    border: none;
    height: 105%;
    border-radius: 10px;
    background-color: rgb(72, 69, 69);
    padding-left: 50px;
    box-shadow: 0px 3px 10px 2px gray;

}
.open-1 p{
    color: white;
}
.open-1 h1{
    color: orange;
}
.open-1 h4{
    color: white;
}

.open-1 h4{
    padding-top: 40px;
}


/* ======================= */


#last{
    background-color: rgb(241, 218, 221);
    padding-bottom: 100px;

} 

.hero{
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 38px -6px rgba(0, 0, 0, 0.14);
    
}
.hero-2{
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 38px -6px rgba(0, 0, 0, 0.14);
    
}
.hero h1{
    text-align: center;
    font-size: 25px;
 
}
.hero-2{
    text-align: center;
    font-size: 25px;
}
.hero p{
    font-size: 18px;
    text-align: center;
}
.hero-2{
    font-size: 18px;
    text-align: center;
}
.fa-solid{
    font-size: 40px;
    color: rgb(14, 123, 123);
 
}
.footer{
    text-align: center;
}
.footer h1{
    color: orangered;
    font-size: 45px;
}
.fa-brands{
    font-size: 40px;
    padding: 10px;
  
}

.shadow{
    border-radius: 5px;
    margin-left: 153px;
    margin-right: 40px;
    padding: 25px;
    text-align: left;
    top: -70px;
    position: relative;
    background: #fff;
    margin-bottom: -40px;
    box-shadow: 0 5px 38px -6px rgba(0, 0, 0, 0.14);
}
.shadow h1{
    font-size: 22px;
    color: orangered;
}
#list{
    padding-bottom: 50px;
}
